@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --red: #d01c28;
    --gray: #2e2e2e;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
    overflow-x: hidden;
}

button {
    all: unset;
    padding: 6px 16px;
    background: var(--red);
    height: 30px;
    color: white;
    font-weight: 500;
}

.container {
    margin: 0 auto;
    max-width: 1280px;
    width: 100%;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 72px;
    padding: 0 15px;
    width: 100vw;
    background-color: white;
    z-index: 1000;
}

nav ul {
    display: flex;
    list-style: none;
    gap: 24px;
}

nav button { 
    margin-left: -4px; 
}

.hero {
    display: flex;
    align-items: center;
    height: calc(100vh - 72px);
    padding-top: 72px;
    flex-wrap: wrap;
}

.hero-content {
    display: flex;
    flex-direction: column;
    gap: 36px;
    width: 60%;
}

.hero h1 {
    font-weight: 800;
    line-height: 102px;
    font-size: 108px;
}

.hero p {
    font-weight: 600;
    color: var(--gray);
    max-width: 400px;
}

.hero-btn {
    display: flex;
    gap: 40px;
}

.secondry-btn {
    background: transparent;
    color: var(--gray);
    border: 1px solid gray;
}

.shopping p {
    font-size: 14px;
    margin-bottom: 8px;
}

.brand-icons {
    display: flex;
    gap: 16px;
}

.hero-image{
    width: 40%;
}

/* Hide scrollbar for Chrome, Safari and Opera */
html::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  html{
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }


/* Media Queries for Responsiveness */
@media (max-width: 768px) {
    .hero {
        flex-direction: column;
        height: auto;
        padding-top: 72px;
        /* background: black; */
    }

    .hero-content {
        align-items: center;
        text-align: center;
    }

    .hero h1 {
        font-size: 48px;
        line-height: 56px;
    }

    .hero p {
        font-size: 16px;
        line-height: 24px;
    }

    .hero-btn {
        flex-direction: column;
        gap: 20px;
    }

    .secondry-btn {
        padding: 6px 16px;
    }
}

@media (max-width: 480px) {
    .nav ul {
        flex-direction: column;
        gap: 10px;
    }

    .hero h1 {
        font-size: 32px;
        line-height: 40px;
    }

    .hero p {
        font-size: 14px;
        line-height: 20px;
    }

    .hero-btn {
        gap: 10px;
    }
}
